<%layout("layouts/boilerplate.ejs")%>
        <h1>All Quizzes</h1>
        <ul>
        <%for(let c of quiz){%>
            <li> <a href="createQuiz/<%=c.id%>"><%=c.quizTitle%></a></li>
        <% } %>

    </ul>
    <button><a href="createQuiz/new">New Quiz</a></button>
    