<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>Quiz</title>
    </head>
    <body>
        <h1>All Quizzes</h1>
        <ul>
        <%for(let c of quiz){%>
            <li> <a href="createQuiz/<%=c.id%>"><%=c.quizTitle%></a></li>
        <% } %>

    </ul>
    <button><a href="createQuiz/new">New Quiz</a></button>
    </body>
</html>