<%layout("layouts/boilerplate.ejs")%>
    <form action="/createQuiz" method="POST">
        <div>
            <label for="quizId">Enter quiz ID</label>
            <input type="text" name="createQuiz[quizId]" id="quizId">
        </div>
        <div>
            <label for="quizTitle">Enter quiz Title</label>
            <input type="text" name="createQuiz[quizTitle]" id="quizTitle">
        </div>
       
        <div>
            <label for="quizType">Select quiz Type</label>
            <select name="quizType" value="<%= %>">
                <option value="tf">T/F</option>
                <option value="mcq">MCQ</option>
               </select>
                   </div>
                   <div>
                    <label for="quizDescription">Enter quiz Description</label>
                    <input type="text" name="createQuiz[quizDescription]" id="quizDescription">
                </div>

        <button>Add Quiz</button>

    </form>   
    
    <footer>
        <a href="/createQuiz">Back</a>
    </footer>
