<%layout("layouts/boilerplate.ejs")%>
    <form action="/createQuiz/<%=id%>/addQ?_method=PATCH" method="POST">
        <div>
            <label for="q">Enter Question</label>
            <input type="text" name="q" id="q">
            <label for="ans">Enter Answer</label>
            <input type="text" name="ans" id="ans">
        </div>

        <button>Add</button>

    </form>   
    