:root {
  --theme-primary: green;
  --theme-seondary:rgb(188, 234, 188);
  --Ai-color:#9867C5;
  --base-primary:rgb(250, 245, 245);
}

/* theme-bg-primary outline-none border-0 */

*{
  margin:0;
  padding: 0;
  text-decoration: none;
}
.container{
  display: flex;
  margin: 0px !important;
  padding: 0px !important;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: rgb(250, 245, 245);
  color: rgb(96, 145, 105);
  height: 100vh;
  width: 400px;
  /* margin: 0px; */
}
.theme-bg-base{
  background: var(--base-primary) !important;
}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo{
  font-size: 40px;
}
.bar{
  display: none;
  font-size: 25px;
  margin-left: 40px;
  color: rgb(30, 33, 30);
}
.link{
  display: flex;
  color: black;
  padding: 12px 15px;
  gap:15px;
  transition: all 0.5s;
}
.link:hover{
  background: var(--theme-seondary);
  color: darkblue;
  transition: all 0.5s;
}
.active{
  background: var(--theme-seondary);
  color: darkblue;
}
.icon,.link_text{
  font-size:18px;
}

.theme-bg-secondary {
  background: var(--theme-seondary) !important;
}

.theme-bg-primary {
  background: var(--theme-primary) !important;
}

.roomfac {
  display: flex;
  widtH: 60%;
  margin: auto;
}